html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#pano {
  margin-top: 0px;
  height: 91%;
  width: 100%;
}

#floating-panel {
  display: flex;
  position: absolute;
  bottom: 40%;
  left: 4.5%;
  z-index: 5;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;

}
#floating-panel input{
  background-color: deepskyblue;
  color: white;
  border-radius: 10px;
  font-size: 35px;
  border-color: black;
  border-style: solid;
  
}

#nxtBtn:hover{
  cursor: pointer;
  background-color: blue;
}
#nxtBtn:active{
  border-color: yellow;
}
#revealBtn:hover{
  cursor: pointer;
  background-color: blue;
}
#revealBtn:active{
  border-color: yellow;
}



#map {
  position: absolute;
  bottom: 25px;
  left: 10px;
  z-index: 5;
  background-color: white;
  padding: 5px;
  border: 3px solid black;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 30px;
  padding-left: 10px;
  height: 35%;
  width: 35%;
}

#menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
  font-family: sans-serif;
  font-size: 30px;
}

.timer {
  flex: 1;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.scoreCounter {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

#scoreCounter {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.levelCounter {
  flex: 1;
  text-align: right;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.levelDifficulty {
  flex: 1;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

#levelDifficultyLabel{
  float: left;
  margin-left: 300px;
}
#levelDifficulty{
  margin-left: -150px;
}